<%include partials/header.ejs %>

<h1>Lab 08</h1>
  <a href="http://www.cs.sonoma.edu/~haderman/">CS355 Lab 8</a>
  <br />
  <a href="http://localhost:3000/helloworld.html">Absolute Link Example</a>
  <br />
  <a href="helloworld.html">Relative Link Example</a>
  <br />
  <a href="/templatelink">Template Link Example</a>
    <br />
  <a href="/accounts/?account_id=1"> Account By ID </a>
  <br />
  <a href="/accounts/all">All Accounts</a>
    <br />
  <a href="/schools/all">All Schools</a>
  <br />
    <a href="/companys/all">All CompanyGPA</a>
  <br />
  <a href="/userjob/all">All UserJobs</a>
<br />
<h1>Lab 09</h1>
<a href="/users/create">Create User</a>
<br />
<a href="/schools/create">Create School</a>
<br />
<a href="/companys/create">Create Company</a>
<br />
<a href="/skills/create">Create a New Skill</a>
<h1>Lab 10</h1>
<a href="/company/">View/Edit Companies</a>
<br />
<a href="/school/">View/Edit Schools </a>






<% include partials/footer.ejs%>


